/node_modules
.cache
.parcel-cache
/localDist
.history
/localDist2
dist/index.html
dist/index.html
dist/locales/en-US/AccordionShadow.json
dist/index.html
dist/locales/en-US/appTopBar.json
dist/locales/en-US/developer.json
dist/locales/en-US/indexPageSchoolView.json
dist/locales/en/AccordionShadow.json
dist/locales/en/appTopBar.json
dist/locales/en/developer.json
dist/locales/en/indexPageSchoolView.json
dist/locales/zh-CN/AccordionShadow.json
dist/locales/zh-CN/appTopBar.json
dist/locales/zh-CN/developer.json
dist/locales/zh-CN/indexPageSchoolView.json
dist/locales/zh/AccordionShadow.json
dist/locales/zh/appTopBar.json
dist/locales/zh/developer.json
dist/locales/zh/indexPageSchoolView.json
dist/index.html
